<!-- Page Content -->
<div class="container sign-in">
  <span class="error" *ngIf="error">{{message}}</span>
    <form class="form-horizontal" (ngSubmit)="onSubmit(SigninForm)" #SigninForm="ngForm">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Please Login</h2>
          <div class="load-bar" *ngIf="logging">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <hr *ngIf="!logging">
        </div>
      </div>
      <div class="row error-margin-bottom" *ngIf="errorFlag">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <i class="fa fa-close"> </i> {{" "+message}}
          </span>
        </div></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <label class="sr-only" for="email">E-Mail Address</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <input type="text" ngModel name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- Put password error message here -->
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-top: .35rem">
          <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
              <input class="form-check-input" name="remember" type="checkbox">
              <span style="padding-bottom: .15rem">Remember me</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-sign-in"></i> Sign In</button>
          <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
        </div>
      </div>
      <div class="row" style="padding-top: 1rem">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <ul class="login-with">
                  <li>Sign In with : </li>
                  <li class="google-btn" (click)="socialSignIn('google')"><i class="fa fa-google"></i> Google</li>
                  <li class="facebook-btn" (click)="socialSignIn('facebook')"><i class="fa fa-facebook-square"> </i> facebook</li>
                  <li class="twitter-btn" (click)="socialSignIn('twitter')"><i class="fa fa-twitter"></i> twitter</li>
              </ul>
          </div> 
     </div>
    </form>
   
</div>
<!-- /.container -->